

.slide-leave-active {
    transition: transform 400ms ease-in-out;
}

.slide-leave-to {
    transform: translateX(100%);
}

.slide-enter-from {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
}

.slide-enter-active {
    transform: scaleX(0);
    transform-origin: right;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;

}

.slideIn-move{

    transition: transform 2s ease;
}

.slideIn-enter-from {
    opacity: 0;
    transform: translateX(400px);
}

.slideIn-enter-active{
    transition:all 1.5s ease;

}
.slideIn-leave-active {

    transition:all 0.3s ease-out;
    position: absolute;

}
.slideIn-leave-to {
    opacity: 0;
    transform: translateX(0);
}




.page-enter-from{

}


.page-leave-active {
/*    transition: all 0.5s;
    transition-delay: 0.2s;*/
    animation: pop 1s reverse;

}
.page-enter-active {
    animation: pop 1s ;
}

.page-enter {}

.page-leave-to {
}

@keyframes pop {
    0% {
        opacity: 0; transform: scale(0);
    }

    100% {
        opacity:1; transform:scale(1);
    }
}


@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

.animate__animated.animate__delay-8s {
    -webkit-animation-delay: calc(1s * 8);
    animation-delay: calc(1s * 8);
    -webkit-animation-delay: calc(var(--animate-delay) * 8);
    animation-delay: calc(var(--animate-delay) * 8);
}

.animate__animated.animate__delay-9s {
    -webkit-animation-delay: calc(1s * 9);
    animation-delay: calc(1s * 9);
    -webkit-animation-delay: calc(var(--animate-delay) * 9);
    animation-delay: calc(var(--animate-delay) * 9);
}


.animate__animated.animate__delay-10s {
    -webkit-animation-delay: calc(1s * 10);
    animation-delay: calc(1s * 10);
    -webkit-animation-delay: calc(var(--animate-delay) * 10);
    animation-delay: calc(var(--animate-delay) * 10);
}

.animate__animated.animate__delay-11s {
    -webkit-animation-delay: calc(1s * 11);
    animation-delay: calc(1s * 11);
    -webkit-animation-delay: calc(var(--animate-delay) * 11);
    animation-delay: calc(var(--animate-delay) * 11);
}


.animate__animated.animate__delay-15s {
    -webkit-animation-delay: calc(1s * 15);
    animation-delay: calc(1s * 15);
    -webkit-animation-delay: calc(var(--animate-delay) * 15);
    animation-delay: calc(var(--animate-delay) * 15)!important;
}




















