
.slide-leave-active {
    transition: transform 400ms ease-in-out;
}

.slide-leave-to {
    transform: translateX(100%);
}

.slide-enter-from {
    opacity: 0;
    animation: fade-in-right ease 0.4s forwards;
}

.slide-enter-active {
    transform: scaleX(0);
    transform-origin: right;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;

}

.page-enter-from{
    opacity: 0;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
    transition-delay: 0.2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}


@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 1;
        transform: scaleX(1);
    }
    to {
        opacity: 0;

        transform: scaleX(0);
    }
}
@keyframes width {
    from {
        width: 0;
    }
    to {
        width: 100%;
        transform: scaleX(0);
    }
}

@keyframes grow-left {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}
























